<section class="library">
    <h2>Resources</h2>
    <ul class="resource-list">
        {% for resource in pagination.items %}
            <li class="resource">
                <p><a href="{{resource.data.link}}"><span>{{resource.data.title}}</span></a></p>
                <p>{{resource.data | getDescription}}</p>
                <p>{{resource.data | getAuthors}}</p>
            </li>
        {% endfor %}
    </ul>
    
    <nav class="table-navigation">
        {% if pagination.previousPageHref %}
            <p class="previous"><a href="{{pagination.previousPageHref}}">← Previous</a></p>
        {% endif %}
    
        {% if pagination.nextPageHref %}
            <p class="next"><a href="{{pagination.nextPageHref}}">Next →</a></p>
        {% endif %}
    </nav>    
</section>