<section>
    <ul class="resource-list">
        {% for resource in pagination.items %}
            <li class="resource">
                <a href="{{resource.data.link}}"><span>{{resource.data.title}}</span></a>
                <span class="capitalize">{{resource.data | getDescription}}</span>
                <span>{{resource.data | getAuthors}}</span>
            </li>
        {% endfor %}
    </ul>
    
    <nav class="table-navigation">
        {% if pagination.previousPageHref %}
            <p class="previous"><a href="{{pagination.previousPageHref}}">← Previous</a></p>
        {% endif %}
    
        {% if pagination.nextPageHref %}
            <p class="next"><a href="{{pagination.nextPageHref}}">Next →</a></p>
        {% endif %}
    </nav>    
</section>