<section>
    <ul class="resource-list">
        {% for resource in pagination.items %}
            <li class="resource">
                <a href="{{resource.data.link}}"><span>{{resource.data.title}}</span></a>
                <span class="credits">
                    <span class="capitalize">{{resource.data.type}}</span> about tags.
                    <br />
                    By 
                    {% assign authors = resource.data.authors.length | minus: 1 %}
                    {% for i in (0..authors) %}
                        {% assign lastId = authors %}
                        {% assign currentId = i | plus: "" %}
                        {% if currentId == lastId and authors != "0" %}
                            and
                        {% endif %}
                        {{resource.data.authors[i]}}{% if i < lastId %},{% else %}.{% endif %} 
                    {% endfor %}
                    
                </span>
            </li>
        {% endfor %}
    </ul>
    
    <nav class="table-navigation">
        {% if pagination.previousPageHref %}
            <p class="previous"><a href="{{pagination.previousPageHref}}">← Previous</a></p>
        {% endif %}
    
        {% if pagination.nextPageHref %}
            <p class="next"><a href="{{pagination.nextPageHref}}">Next →</a></p>
        {% endif %}
    </nav>    
</section>